div.forum-themes {
    padding-top: 15px;
    margin-left: 250px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: antiquewhite;
}

.forum-themes ul {
    border: 1px solid sienna;
}

.forum-themes h2 {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: burlywood;
}

.forum-themes h3 {
    padding-top: 5px;
    background-color: bisque;
}

.forum-themes p {
    padding-bottom: 5px;
    background-color: antiquewhite;
}



.unreg-forum-themes div.forum-themes {
    margin-left: 0;
}