.header-unreg {
    position: relative;
    width: 100%;
    min-height: 40px;
    background-color: burlywood;
    /*border: #16ffe7 2px;*/
}

.header-unreg ul {
    display: inline-block;
}

.header-unreg ul > li {
    display: inline-block;
}

.please_enter, .please_register {
    position: absolute;
    right: 10px;
    top: 30px;
    vertical-align: baseline;
}