section.news{
    padding-top: 15px;
    margin-left: 250px;
    padding-left: 15px;
    padding-right: 15px;
    /*background-color: antiquewhite;*/
    background-color: bisque;
}

section.news > ul > li > ul {
    background-color: antiquewhite;
    border: solid saddlebrown 1px;
    margin-bottom: 20px;
}

section.news > ul > li > ul > li.profile-picture {

}
section.news > ul > li > ul > li.profile-picture > a > img {
    height: 40px;
}

section.news > ul > li > ul > li.name {

}

section.news > ul > li > ul > li.forum-theme {

}

section.news > ul > li > ul > li.date-time {

}

section.news > ul > li > ul > li.header {
    background-color: floralwhite;
    padding-top: 10px;
}

section.news > ul > li > ul > li.text {
    background-color: floralwhite;
    padding-top: 10px;
}

section.news > ul > li > ul > li.picture {
    background-color: floralwhite;
    padding-bottom: 10px;
}

section.news > ul > li > ul > li.picture > img {
    max-height: 250px;
}


