div.user-page {
    padding-top: 15px;
    margin-left: 250px;
    padding-left: 15px;
    padding-right: 15px;
    /*background-color: antiquewhite;*/
    background-color: bisque;
}

div.user-profile-picture,
section.user-info
/*.user-first-name,*/
/*.user-last-name,*/
/*.user-status-on-wall,*/
/*.user-dob,*/
/*.user-city */
{
    display: inline-block;
    /*background-color: antiquewhite;*/
    /*border: solid saddlebrown 1px;*/
}

div.user-profile-picture > img {
    /*width: 25%;*/
    height: 250px;
    /*padding-bottom: 20px;*/
}

section.user-info {
    margin-left: 50px;
}

div.user-name {
    position: relative;
    top: -150px;
    margin-left: 20px;
    font-size: 30px;
}

div.user-status-on-wall {
    position: relative;
    top: -140px;
    margin-left: 20px;
}

div.user-dob {
    position: relative;
    top: -50px;
    margin-left: 100px;
}

div.user-city {
    position: relative;
    top: -40px;
    margin-left: 100px;
}

.my-photos {
    font-size: 20px;
}

.user-photos {
    margin-top: 10px;
    border: solid saddlebrown 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: antiquewhite;
}

.user-photos li.user-last-photo{
    display: inline-block;
}

.user-photos .user-last-photo img {
    padding-top: 5px;
    height: 150px;
}


section.wall-messages,
section.smb-user-wall-messages {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid saddlebrown 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: antiquewhite;
}

section.wall-messages li.text,
section.wall-messages li.picture,
section.smb-user-wall-messages li.text,
section.smb-user-wall-messages li.picture {
    background-color: floralwhite;
    padding-top: 10px;
}

section.wall-messages li.picture > img {
    /*width: 25%;*/
    max-height: 250px;
}



.unreg-smb-page .user-page{
    margin-left: 0;
}